

.head__div1 {
    width: 70%;
    /* background-color: blueviolet; */
    /* padding: 12px 120px; */
    margin: 15px 26px;

}

#ul {
    width: 60%;
    display: flex;
    list-style-type: none;

}

.li {
    width: 20%;
    font-size: 20px;
    /* text-decoration: underline; */

}

.li:hover {
    color: rgb(235, 211, 211);
    font-size: 22px;
    text-decoration: none;
}

.head__div2 {
    width: 30%;
    /* background-color: darkblue; */
    padding: 12px 0px;
}

.input {
    width: 60%;
    padding: 6px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 0px 5px;
    font-size: 15px;
}

